* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
	color: #262626;
   text-decoration: none;
}


header {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 300%;

}

nav {
   font-family: 'Raleway', sans-serif;
   background-color: #262626; 
   color: white;
   clear:both;
   font-size: 20px;

}
nav ul {
   margin: 0px;
   padding: 15px 0px 15px 20px;
}

nav li {
   display: inline;
   margin-right: 40px;
}

nav li a {
   color: white;
}

nav li a:hover {
   color: #666666;
}

nav li a.current {
   color: #666666;
}

#title {
   padding: 100px 0px 5px 0px;
   font-size: 200%;

}


#subtitle {
   padding-top: 15px;
   font-size: 80%;
   margin-bottom: 35px;
}


#footer {
   text-align: center; 
   text-decoration: underline;
   margin-bottom: 1%;
   font-family: 'Lobster', cursive;
   font-size: 300%;
}

#footer2 {
   margin-top: 150px;

   text-align: center;
   display: block;
}

#footer:hover {
   cursor: pointer;
}

.link:hover {
   color: #666666;
}

#gitlogo {
   height: 70px;
   width: 70px;
}

#gitlogo:hover {
   opacity: 0.65;
}

@media screen and (max-width: 768px) {
   nav li {
      margin-right: 12px;
   }
   nav ul {
      margin: 0px;
      padding: 10px 0px 10px 20px;
      font-size: 80%
   }

   #title {
      font-size: 100%;
   }

   #subtitle {
      padding-top: 25px;
      font-size: 50%;
      margin-bottom: 25px;

   }

   #footer {
      font-size: 350%;
   }
   #footer2{
      margin-top: 250px;
   }

   #gitlogo {
      height: 50px;
      width: 50px;
   }


}

