* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
	color: #34515e;
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
}

body {
   background-color: #fdf7eb;
}
header {
	text-align: center;
	font-size: 300%;
}

nav {
   background-color: #34515e; 
   clear:both;
   font-size: 20px;

}
nav ul {
   margin: 0px;
   padding: 15px 0px 15px 20px;
}

nav li {
   display: inline;
   margin-right: 40px;

}

nav li a {
   color: #fdf7eb;
}

nav li a:hover {
   color: #919ba0;
}

nav li a.current {
   color: #fdf7eb;
}

#title {
   padding: 40px 0px 0px 0px;
   font-size: 50px;

}

#subtitle {
   padding-top: 30px;
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 30px;
   margin-left: 10%;
   margin-right: 10%;
}


#relcour {
   text-align: center;
   font-size: 35px;
   margin-top: 100px;
   margin-bottom: 5px;
}

#schoolinfo {
   margin-bottom: 25px;

}

#courses {
   text-align: center;
}

.link:hover {
   color: #919ba0;
}

.highlighted {
   text-decoration: underline
}

dt {
   font-weight: bold;
}

dd {
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 15px;
}

dl {
   margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
   nav li {
      margin-right: 12px;
   }
   nav ul {
      margin: 0px;
      padding: 10px 0px 10px 20px;
      font-size: 80%
   }

   #title {
      font-size: 100%;
   }

   #subtitle {
      padding-top: 25px;
      font-size: 50%;
      margin-bottom: 25px;
   }

   #relcour {
      font-size: 26px;
   }


}

